<template name="home">
  <div class="template-home">
    <div class="no-pad">
    	<div class="col-sm-6 no-pad" id="Details">
    		<h1>NOW ON AIR</h1>
    		<h4>The Wake Up Show<small>with</small></h4>
    		<h3>Rayan and Nijanthan</h3><!-- 
    		{{ nowOnair }}

    		{{ #each sData }}
    			{{ > dataa }}
    		{{ /each }}
 -->

    		<hr>
    		<br>
	    	<div class="col-sm-6 {{ isActiveRoute regex='podcast' }}">
	    		<a href="{{ pathFor 'podcast'}}" title="">
	    			<h3>IFM Online</h3>
		    		<h5>Stream online Now</h5>
		    		<div class="col-xs-12">
		    			<i class="fa fa-volume-up fa-3x"></i>
		    		</div>
	    		</a>
	    	</div>
	    	<div class="col-sm-6 {{ isActiveRoute regex='stream' }}">
	    		<a href="{{ pathFor 'stream'}}" title="" >
		    		<h3>IFM Live</h3>
		    		<h5>Watch online Now</h5>
		    		<div class="col-xs-12">
		    			<i class="fa fa-video-camera fa-3x"></i>
		    		</div>
	    		</a>
	    	</div> <div class="clearfix"></div>
	    	<br>
	    	<hr>
	    	<br>
	    		<!-- Social links -->
	    	<br>
	    	<hr>
	    	<div class="clearfix"></div>
    	</div>
    	<div class="col-sm-6">
    		<div class="embed-responsive embed-responsive-16by9">
    			{{> yield region="hContent" }}
			</div><div class="clearfix"></div>

    	</div><div class="clearfix"></div>
    </div>
  </div>
</template>


	<template name="dataa">
	  	<li>{{noOna}}</li>
	</template>
